body{
    background-color: yellow;
    font-family: Verdana;
    }



h1{
    background-color: lightblue;
    text-align: center;
    }



p{
    background-color: limegreen;
    color: #7e2adc;
    font-size: 200px;
    text-align: center;}