body{
    background-color: #a7c1b7;
    font-family: Arial;
    }


    
h1{
    color: #c0889a;
    text-align: center;
    }



p{
    color: #7e2adc;
    font-size: 20px;
    text-align: center;
    }